.detalle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  border: none;
}

.imagenDetalle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenDetalle img {
  height: 80%;
  width: 300px;
}

div {
  background-color: #c7a49f;
}

.textoDetalle h1 {
  font-size: -webkit-xxx-large;
}

.textoDetalle h2 {
  margin-bottom: 61px;
  font-size: xx-large;
}
